<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--
		Eliminamos la configuración de mappers de este fichero y le dejamos
		a Spring la responsabilidad de inicializar los mapper's
	 -->
	<!--<mappers/> -->
</configuration>